* {
  box-sizing: border-box;
}
body {
  background-color: rgb(89, 33, 33);
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  min-height: 100vh;
  text-align: center;
  margin-top: 35px;
}
.navbar {
  background-color: #3466AF;
}
.container{
  margin-top: 5rem;
}
h1 {
  margin-bottom: 2rem;
}
.list-group-item {
  background-color: #000;
}
/* button-class styling */
.button-class {
  background-color: rgb(183, 105, 105);
  color: #000;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 700;

  /* transition */
  transition: transform 0.3s;
  transition-timing-function: ease-in-out;
}
.button-class:hover,
.button-class:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.button-class:active,
.button-class:active {
  background-color: rgb(94, 44, 44);
  border: 5px solid rgb(43, 40, 40);
  color: #000;
}

/* Modal styling */
.modal {
  color: lightseagreen;
}
.modal-dialog {
  margin-top: 15%;
}
.modal-img {
  padding: 20px;
  margin-top: -20px;
  width: 50%;
}


/* Media queries */
@media all and (max-width: 768px) {
  .button-class {
      padding-top: 26px;
      padding-bottom: 26px;
  }
}
