body {
	font-size: 50px;
	font-style: Helvetica;
	line-height: 30px;
    color: blue;
    background: #000;
}

.button-class {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: blue;
    color: black;
    border: 2px solid darkblue;
}

#modal-container {
    display: none;
  }
  
  #modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  
    /* to show it above other content */
    z-index: 999; 
  
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
  
    /* to center the modal */
    display: grid;
    text-align: center;
  }